@font-face {
    font-family: IgniteTheLight;
    src: url(assets/font/IgniteTheLight/KimberlyGeswein-IgniteTheLight.ttf) format('truetype');
}

@font-face {
	font-family: GlacialIndifference;
    src: url(assets/font/GlacialIndifference/GlacialIndifference-Regular.otf) format('opentype');	
}

@font-face {
	font-family: BarlowSemiCondensed;
    src: url(assets/font/BarlowSemiCondensed/BarlowSemiCondensed-Light.ttf) format('truetype');
}

@font-face {   
    font-family: BarlowSemiCondensedMedium;
    src: url(assets/font/BarlowSemiCondensed/BarlowSemiCondensed-Medium.ttf) format('truetype');
}

:root{
	--hell: #D8C1B6;
	--mittel: #CCAA99;
	--dunkel: #3C2520;
	--grau: #2B2322;
	--akzent: #7AD1B5;
	--text: #6E605E;
}

html{

}

body {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: IgniteTheLight;
    font-size: 300px;
    margin: 0;
    margin-left: 120px;
    box-sizing: border-box;
    height: 300px;
    color: var(--hell);
}

h2 {
	font-family: GlacialIndifference;
	font-size: 43px;
    font-weight: normal;
    margin-left: 230px;
    color: var(--grau);
}

h3 {
	font-family: BarlowSemiCondensedMedium;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	margin-left: 230px;
	color: var(--text);
}

p{
	font-family: BarlowSemiCondensed;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	margin-left: 230px;
	color: var(--text);
}

.screen {
	width: 100%;
	height: 100vh;
	background-color: white;
}

#mainScreen1 {
	background-color: var(--hell);
}

#mainScreen2 {


}

#mainScreen3 {


}

#mainScreen4 {


}

#mainScreen5 {


}

#mainScreen6 {


}

#mainScreen7 {


}

#mainScreen8 {


}