@font-face {
    font-family: myFirstFont;
    src: url(assets/font/IgniteTheLight/KimberlyGeswein-IgniteTheLight.ttf) format('truetype');
}

div {
    font-family: myFirstFont;
    color: #7AD1B5;
    font-size: 72px;
}

body {

	margin: 0;
	padding: 0;
}

.page1 div{

	width: 100%;
	height: 100vh;

}
.screen1 {

	background-color: blue;

}

.screen2 {

	background-color: green;

}

.screen3 {

	background-color: red;

}

.screen4 {

	background-color: pink;

}

.screen5 {

	background-color: white;

}

.screen6 {

	background-color: yellow;

}

.screen7 {

	background-color: orange;

}

.screen8 {

	background-color: black;

}