@charset "UTF-8";
@font-face {
  font-family: IgniteTheLight;
  src: url(assets/font/IgniteTheLight/KimberlyGeswein-IgniteTheLight.ttf) format("truetype"); }
@font-face {
  font-family: GlacialIndifference;
  src: url(assets/font/GlacialIndifference/glacialindifference-regular-webfont.ttf) format("truetype"); }
@font-face {
  font-family: BarlowSemiCondensed;
  src: url(assets/font/BarlowSemiCondensed/BarlowSemiCondensed-Light.ttf) format("truetype"); }
@font-face {
  font-family: BarlowSemiCondensedMedium;
  src: url(assets/font/BarlowSemiCondensed/BarlowSemiCondensed-Medium.ttf) format("truetype"); }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-weight: 300; }

body {
  margin: 0;
  padding: 0; }

.nav {
  background-color: #ffffff;
  color: #3C2520;
  list-style: none;
  font-family: "Glacial Indifference";
  text-align: center;
  padding: 0 25px 0 25px; }

.nav > li {
  display: inline-block;
  padding: 0 25px 0 25px; }

.nav > li > a {
  text-decoration: none;
  color: #3C2520; }

.nav > li > a:hover {
  color: #CCAA99; }

#main {
  font-size: 200px;
  color: white;
  margin-left: 170px;
  padding-top: 60px; }

#maintext {
  font-size: 27px;
  color: white;
  margin-left: 180px;
  margin-top: 160px;
  float: left; }

#WYN1 {
  width: 400px;
  height: 400px;
  position: absolute;
  margin-left: 100px;
  margin-top: 370px; }

#h1dunkel {
  font-size: 20px;
  color: #3C2520;
  margin-left: 110px; }

h1 {
  font-family: IgniteTheLight;
  font-size: 270px;
  margin: 0;
  margin-left: 0px;
  box-sizing: border-box;
  height: 310px;
  color: #D8C1B6; }

h2 {
  font-family: IgniteTheLight;
  font-size: 30px;
  margin: 0;
  margin-left: 150px;
  margin-top: -5px;
  margin-bottom: 30px;
  box-sizing: border-box;
  color: #D8C1B6; }

h3 {
  font-family: BarlowSemiCondensedMedium;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  margin-left: 110px;
  color: #6E605E;
  margin-bottom: 0px; }

p {
  font-family: BarlowSemiCondensed;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  margin-left: 110px;
  margin-top: 8px;
  color: #6E605E;
  width: 430px; }

.zitatimtext {
  font-family: BarlowSemiCondensed;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-style: italic;
  margin-left: 110px;
  margin-top: 8px;
  color: #6E605E;
  width: 430px; }

.zitatimtext2 {
  font-family: BarlowSemiCondensed;
  font-size: 25px;
  line-height: 37px;
  font-weight: normal;
  font-style: italic;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #D8C1B6;
  width: 330px; }

.screen {
  background-color: white; }

.textArea-left {
  margin-left: 120px; }

.textArea-middle {
  margin-left: 120px; }

.textArea-right {
  float: right;
  width: auto;
  margin-right: 120px;
  margin-left: auto;
  width: 500; }

.tworowshead {
  margin-left: 60px; }

.tworows {
  column-count: 2; }

.tworows > p {
  margin-left: 30px;
  margin-top: 15px; }

.tworowshead > h2 {
  font-family: GlacialIndifference;
  font-size: 36px;
  font-weight: normal;
  margin-top: 15px;
  margin-left: 110px;
  color: #2B2322; }

.line {
  float: left;
  border-bottom: solid;
  border-color: #D8C1B6;
  border-width: 4px;
  box-shadow: 0px 3px 3px #BBBBBB;
  margin-left: 12px;
  margin-top: 28px;
  width: 73px; }

.linedunkel {
  float: left;
  border-bottom: solid;
  border-color: #3C2520;
  border-width: 4px;
  box-shadow: 0px 3px 3px #BBBBBB;
  margin-left: 12px;
  width: 73px; }

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

.clearfix {
  display: block; }

#mainScreen1 {
  height: 100vh;
  background-color: #D8C1B6; }

.trennerhell {
  height: 800px;
  width: 100vw;
  background-color: #D8C1B6; }

.trennerdunkel {
  height: 800px;
  width: 100vw;
  background-color: #3C2520; }

/*# sourceMappingURL=styleuserproblem.css.map */
